.cyan-button {
    background-color: cyan;
    border: none; /* Elimina el borde predeterminado del botón */
    padding: 10px 20px; /* Ajusta el tamaño del botón según sea necesario */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
    transition: background-color 0.3s ease; /* Suaviza el cambio de color al pasar el mouse */
}

.cyan-button:hover {
    background-color: #008080; /* Color de fondo oscuro para el hover */
    box-shadow: 0 0 10px rgba(0, 128, 128, 0.5), /* Aplica un degradado a los bordes */
               0 0 20px rgba(0, 128, 128, 0.5);
}